.section2{
    display: flex;
    justify-content: space-between;
    background-color: #dcacac;
    text-align: justify;
}

.tex{
    padding-left: 100px;
    padding-top: 50px;
}

.pic1,.pic3,.pic2{
    text-align: center;
}
.price{
    font-weight: bold;
}
.pic3{
    padding-right: 50px;
}