.te{
    display: flex;
    justify-content: space-between;
    background-color: #A95c68; 
}

.blogpic{
    display: flex;
    justify-content: space-between;
    background-color: #A95c68; 
    font-size: 20px;
}
.responsive-img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}
.te{
    padding-top: 30px;
    background-color: #A95c68; 
}
.img1,.img2,.img3{
    margin-top: 50px;

}
.img1{
    margin-left: 150px;
}
.img3{
    margin-right: 150px;
}
.rounded {
    border-radius: 100px;
}